#home {
  background: #fff;
}
.home .content h2 {
  font-size: 4rem;
  color: #354046;
}
.home .content h2 span {
  color: var(--violet);
}
.home .content h3 {
  font-size: 1.4rem;
  color: #354046;
}
.button {
  height: 3rem;
  width: 10rem;
  background: var(--violet);
  color: #fff;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
  transition: 0.2s linear;
}
.button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #354046;
  z-index: -1;
}
.button:hover:before {
  top: 0%;
}
.button:hover {
  box-shadow: 0.1rem 0.5rem var(--violet), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 720px) {
  .content {
    text-align: center;
  }
  .home .content h2 {
    font-size: 2.2rem;
  }
  .home .content h3 {
    font-size: 1rem;
  }
}
